@font-face {
  font-family: "BarlowSemiCondensed";
  src: url("https://jwright2021.github.io/workingPortfolio/fontFamily/BarlowSemiCondensed-SemiBold.ttf");
}

@font-face {
  font-family: "BarlowSemiCondensedRegular";
  src: url("https://jwright2021.github.io/workingPortfolio/fontFamily/BarlowSemiCondensed-Regular.ttf");
}

body {
  margin: 0px;
  font-family: "BarlowSemiCondensedRegular", sans-serif;
  overflow-x: hidden;
}

.page-container {
  display: grid;
}

.page-width {
  display: grid;
  justify-self: center;
  margin-top: 20px;
  text-align: center;
  word-wrap: break-word;

  @media (min-width: 923px) {
    max-width: 768px;
  }
}

.navbar {
  align-items: center;
  background-color: #eeeeee;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 17px;
  width: 100%;

  @media (min-width: 923px) {
    position: fixed;
    top: 0;
    z-index: 2;
  }

  @media (max-width: 922px) {
    display: none;
    visibility: hidden;
  }

  .navbar-socials svg {
    width: 23px;
    padding: 0px 5px;
  }

  .navbar-nav {
    display: flex;
    gap: 10px;
  }

  .navbar-nav div {
    padding: 0px 10px;
    color: #334155;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;

    a {
      color: #334155;
      text-decoration: none;
    }
  }

  .navbar-nav div a {
    padding: 0px 10px;
    color: #334155;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
  }

  .navbar-nav div:hover {
    cursor: pointer;
    color: #bcb3fb;
    fill: #bcb3fb;
  }

  .navbar-nav div svg {
    width: 10px;
    align-self: end;
  }

  .navbar-dropdown {
    display: flex;
  }

  .dropdown-icon {
    align-self: center;
  }

  .navbar-search {
    padding-left: 10px;
  }

  .navbar-search div svg {
    width: 20px;
    fill: #ff7bac;

    :hover {
      cursor: pointer;
      fill: #bcb3fb;
    }
  }
}

.mobile-navbar {
  display: none;
  visibility: hidden;

  @media (max-width: 922px) {
    display: block;
    visibility: visible;
    color: #ff7bac;
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
    padding: 20px;

    svg {
      align-self: flex-end;
    }

    :hover {
      cursor: pointer;
    }
  }
}

.paper-kawaii-logo {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  padding: 20px 0px;

  img {
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
  }

  a {
    color: #222;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.23em;
  }

  @media (min-width: 922px) {
    margin-top: 60px;
  }
}

h1,
h2 {
  color: #1e293b;
  display: table;
  font-family: "BarlowSemiCondensed", sans-serif;
  font-weight: 600;
  line-height: normal;
  /* TODO: make this not reliant on !important */
  margin: 10px auto !important;
  word-wrap: break-word;
  a {
    color: #ff7bac;
    text-decoration: none;
  }
  a:hover {
    color: #bcb3fb;
  }
}

h1 {
  border-bottom: 3px solid #bcb3fb;
  font-size: 38px;
  @media (max-width: 320px) {
    font-size: 22px;
  }
}

h2 {
  border-bottom: 2px solid #bcb3fb;
  font-size: 32px;
  @media (max-width: 320px) {
    font-size: 18px;
  }
}

a {
  text-decoration: none;
  /* line-height: 1.2em; */
  font-weight: 600;
  color: #1e293b;
  font-size: 23px;
  cursor: pointer;

  @media (max-width: 320px) {
    font-size: 16px;
  }
}

p {
  margin: 1em 0;
  font-size: 20px;
  @media (max-width: 320px) {
    font-size: 14px;
  }
}

.origami-buttons {
  width: fit-content;
  background-color: #ff7bac;
  border: 2pt solid #ff7bac;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
}

.origami-buttons:hover {
  background-color: #bcb3fb;
  border-color: #bcb3fb;
  cursor: pointer;
}

.from-the-author {
  a {
    font-weight: 600;
    color: #ff7bac;
  }
  a:hover {
    color: #bcb3fb;
  }
}

.visit-paper-shop {
  padding: 20px;
}

.misc-links {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 20px;
  grid-template-columns: 3;
  img {
    max-width: 220px;
    height: auto;
  }
}

.sign-up-newsletter {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;

  div {
    width: 100%;
  }

  img {
    max-width: 300px;
    height: auto;
  }

  .sign-up-form {
    text-align: left;
    max-width: 800px;
  }

  .newsletter-input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin: 0 auto 0 0;
  }

  button {
    margin-top: 20px;
  }
}

.links-printables {
  padding-bottom: 40px;
}

.page-constants {
  display: grid;
  justify-self: center;
  margin-top: 20px;
  text-align: center;
  word-wrap: break-word;

  @media (min-width: 923px) {
    max-width: 768px;
  }
}

.footer {
  background-color: #bcb3fb;
  padding: 10px;

  .footer-nav {
    display: flex;
    justify-content: center;
    color: #fff;
    gap: 10px;
    font-weight: 400;
    font-size: 17px;

    div {
      padding: 20px;
      border-radius: 10px;
    }
  }

  .footer-nav div:hover {
    background-color: #ff7bac;
    cursor: pointer;
  }

  .copyright {
    display: grid;
    justify-items: center;
    color: #000;
    padding-bottom: 20px;
    padding-top: 10px;
  }

  @media (max-width: 922px) {
    .footer-nav {
      display: grid;
      div {
        padding: 10px 0;
        justify-self: center;
      }
    }

    .copyright {
      display: grid;
      padding-top: 10px;
      justify-items: center;
    }
  }
}
