@font-face {
  font-family: "BarlowSemiCondensed";
  src: url("https://jwright2021.github.io/workingPortfolio/fontFamily/BarlowSemiCondensed-SemiBold.ttf");
}

@font-face {
  font-family: "BarlowSemiCondensedRegular";
  src: url("https://jwright2021.github.io/workingPortfolio/fontFamily/BarlowSemiCondensed-Regular.ttf");
}

:root {
  --acc-brown: #9c755f;
  --acc-red: #e15759;
  --acc-orange: #f28e2b;
  --acc-yellow: #edc948;
  --acc-green: #177d1e;
  --acc-teal: #407d7a;
  --acc-blue: #4e79a7;
  --acc-violet: #b07aa1;
  --acc-pink: #ff9da7;
  --acc-grey: #bab0ac;
  --text-color: #ffffff;
}

body {
  margin: 0px;
  font-family: "BarlowSemiCondensedRegular", sans-serif;
  background-color: var(--acc-teal);
  color: var(--text-color);
  display: grid;
}

.main {
  padding: 0 20px 20px 20px;
  text-align: center;
  max-width: 768px;
  place-self: center;
  display: grid;
}
.main h1,
.main h2 {
  margin: 0.1em;
}
.main h1 {
  font-size: 46px;
  margin-top: 20px;
  margin-bottom: 0.1em;
}
.main h2 {
  font-size: 28px;
}
.main p {
  font-style: italic;
  font-size: 20px;
  margin: 0.1em;
  margin-bottom: 20px;
}

page {
  display: grid;
  padding: 0;
  font-size: 20px;
}
page h3 {
  font-size: 24px;
}

.navigation-links {
  background-color: var(--acc-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 20px;
}
.navigation-links .menu-toggle {
  display: none;
}
.navigation-links ul {
  display: flex;
  list-style: none;
  padding: 0;
}
.navigation-links ul.active {
  display: flex;
}
.navigation-links ul li {
  margin-right: 20px;
}
.navigation-links ul li a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s;
}
.navigation-links ul li a:hover {
  color: var(--acc-orange);
}

.logo img {
  width: 150px;
  height: auto;
}

.paper-kawaii-button,
.button-go-to-top {
  padding: 10px;
  background-color: var(--acc-blue);
  color: var(--text-color);
  text-decoration: none;
  border-radius: 5px;
  max-width: 150px;
  place-self: center;
}

.paper-kawaii-button {
  margin-bottom: 20px;
}

.career-resume {
  display: grid;
  gap: 20px;
  padding-bottom: 20px;
}

.career-card {
  display: grid;
  gap: 20px;
  grid-template-columns: 175px 105px 1fr;
  grid-template-areas: "column1 column2 column3";
  padding-bottom: 15px;
  border-bottom: 3px solid var(--text-color);
}
.career-card > div:nth-child(1) {
  grid-area: column1;
  text-align: right;
}
.career-card > div:nth-child(2) {
  grid-area: column2;
  text-align: right;
}
.career-card > div:nth-child(3) {
  grid-area: column3;
  text-align: left;
}

.aboutMeDiv {
  padding: 20px;
}

@media (max-width: 768px) {
  .logo img {
    width: 100px;
  }
  .career-card {
    grid-template-columns: 175px 1fr;
    grid-template-areas:
      "column1 column3"
      "column2 column3";
    text-align: left;
  }
}

@media (max-width: 500px) {
  .navigation-links {
    flex-direction: column;
  }
  .navigation-links .menu-toggle {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: block;
  }
  .navigation-links ul {
    display: none;
    width: 100%;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
  }
  .navigation-links ul li {
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .navigation-links label {
    display: grid;
  }
  .logo img {
    width: 75px;
    display: grid;
  }
  .career-card {
    grid-template-columns: 175px 1fr;
    grid-template-areas:
      "column1 column2"
      "column3 column3";
    > div:nth-child(1) {
      text-align: left;
    }
    > div:nth-child(2) {
      text-align: left;
    }
  }
}

@media (max-width: 320px) {
  .career-card {
    grid-template-columns: 1fr;
    grid-template-areas:
      "column1"
      "column2"
      "column3";
  }
}
