.modal-overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
.modal-overlay .modal-wrapper {
  height: fit-content;
  padding-bottom: 20px;
  padding-top: 20px;
  background: ghostwhite;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}
.modal-overlay .close-btn-wrapper {
  display: grid;
}
.modal-overlay .close-btn-wrapper .close-modal-btn {
  padding: 8px;
  background: var(--acc-purple);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: ghostwhite;
  font-weight: 5px;
  justify-self: center;
  cursor: pointer;
}
.modal-overlay .modal-content {
  margin: 20px auto;
  max-width: 100%;
  padding: 20px;
}
.modal-overlay h1 {
  text-align: center;
}

.hide {
  display: none;
}

.first-carousel {
  position: relative;
}
.first-carousel .first-carousel-buttons {
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #ff7bac;
  cursor: pointer;
  display: block;
  height: 40px;
  padding: 6px;
  position: absolute;
  top: 50%;
  width: 40px;
}
.first-carousel .first-carousel-buttons:hover {
  cursor: pointer;
  border-color: #bcb3fb;
  svg {
    fill: #bcb3fb;
  }
}
.first-carousel .first-carousel-buttons:hover svg {
  fill: #bcb3fb;
}
.first-carousel .first-carousel-buttons#left {
  left: 20px;
  z-index: 1;
}
.first-carousel .first-carousel-buttons#right {
  right: 60px;
}

.first-carousel .slider {
  justify-self: center;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 50%;
  margin: auto;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: 0;
  overflow-x: hidden;
  max-width: 768px;
}
.first-carousel .slider .slide {
  scroll-snap-align: start;
  height: auto;
  max-width: 350px;
  background-color: #eeeeee;
  color: #1e293b;
}
.first-carousel .slider .slide img {
  height: auto;
  max-width: 350px;
}
.first-carousel .slider .slide .slide-description {
  padding: 0 10px;
}

.slider::-webkit-scrollbar {
  display: none;
}

.popular-container {
  position: relative;
}

@keyframes sliding-back-and-forth-desktop {
  from {
    transform: translateX(-140%);
  }
  to {
    transform: translateX(-65%);
  }
}

@keyframes sliding-back-and-forth-tablet {
  from {
    transform: translateX(-385%);
  }
  to {
    transform: translateX(10%);
  }
}

@keyframes sliding-back-and-forth-mobile {
  from {
    transform: translateX(-800%);
  }
  to {
    transform: translateX(25%);
  }
}

.second-carousel {
  animation: sliding-back-and-forth-desktop 20000ms infinite alternate;
  column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  margin: auto;
  position: relative;
  row-gap: 20px;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: 0;
  max-width: 768px;
}
.second-carousel .popular-card {
  max-width: 240px;
  background-color: #f6f6f6;
  color: #1e293b;
  padding-bottom: 10px;
}
.second-carousel .popular-card img {
  height: auto;
  max-width: 240px;
}

.recently-added-container {
  position: relative;
  max-width: 798px;
  margin: auto;
  overflow: hidden;
  background: white;
}
.recently-added-container::before,
.recently-added-container::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  content: "";
  height: 700px;
  position: absolute;
  width: 200px;
  z-index: 1;
}
.recently-added-container::before {
  left: 0;
  top: 0;
}
.recently-added-container::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

@keyframes looping-forward-continuously {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-200px * 11 - 15px));
  }
}

.third-carousel {
  animation: looping-forward-continuously 20000ms infinite linear;
  display: flex;
  margin: auto;
  position: relative;
  gap: 20px;
}
.third-carousel .recently-added-card {
  max-width: 350px;
  background-color: #f6f6f6;
  color: #1e293b;
  padding-bottom: 10px;
}
.third-carousel .recently-added-card a {
  text-decoration: none;
  line-height: 1.2em;
  font-weight: 400;
  color: #1e293b;
  font-size: 20px;
  cursor: pointer;
}
.third-carousel .recently-added-card img {
  width: auto;
  max-height: 350px;
}

@media (min-width: 923px) {
  .third-carousel {
    max-width: 768px;
  }
}

@media (max-width: 922px) {
  .first-carousel .slider {
    max-width: 600px;
    grid-auto-columns: 50%;
  }
  .first-carousel .slider .slide {
    max-width: 275px;
    overflow-x: hidden;
  }
  .first-carousel .slider .slide img {
    max-width: 275px;
  }
}

@media (min-width: 800px) {
  .modal-overlay .modal-wrapper {
    width: 700px;
  }
  .second-carousel {
    max-width: 95vw;
  }
}

@media (max-width: 799px) {
  .modal-overlay .modal-wrapper {
    width: 70vw;
    height: fit-content;
  }
}

@media (max-width: 767px) {
  .second-carousel .popular-card {
    max-width: 170px;
  }
  .second-carousel .popular-card img {
    max-width: 170px;
  }
  .second-carousel .popular-card a {
    font-size: 16px;
  }
  .third-carousel .recently-added-card {
    max-width: 170px;
  }
  .third-carousel .recently-added-card img {
    max-width: 170px;
  }
  .third-carousel .recently-added-card a {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .first-carousel .first-carousel-buttons#left {
    left: 20px;
  }
  .first-carousel .first-carousel-buttons#right {
    right: 20px;
  }
  .first-carousel .slider {
    max-width: 300px;
    grid-auto-columns: 100%;
  }
  .first-carousel .slider .slide {
    max-width: 300px;
    overflow-x: hidden;
  }
  .first-carousel .slider .slide img {
    max-width: 300px;
  }
  .second-carousel {
    max-width: 95vw;
    grid-template-columns: repeat(18, 1fr);
    animation: sliding-back-and-forth-tablet 200000ms infinite alternate;
  }
  .second-carousel .popular-card {
    max-width: 140px;
  }
  .second-carousel .popular-card img {
    max-width: 140px;
  }
  .third-carousel .recently-added-card {
    max-width: 160px;
  }
  .third-carousel .recently-added-card img {
    max-width: 160px;
  }
  .third-carousel .recently-added-card h4 {
    display: none;
  }
}

@media (max-width: 320px) {
  .modal-overlay h1 {
    font-size: 22px;
  }
  .first-carousel .first-carousel-buttons#left {
    left: 0px;
  }
  .first-carousel .first-carousel-buttons#right {
    right: 0px;
  }
  .first-carousel .slider {
    max-width: 225px;
    grid-auto-columns: 100%;
  }
  .first-carousel .slider .slide {
    max-width: 225px;
    overflow-x: hidden;
  }
  .first-carousel .slider .slide img {
    max-width: 225px;
  }
  .second-carousel {
    max-width: 320px;
    animation: sliding-back-and-forth-mobile 200000ms infinite alternate;
  }
}
