@font-face {
  font-family: "BarlowSemiCondensed";
  src: url("https://www.meetjennawright.com/fontFamily/BarlowSemiCondensed-SemiBold.ttf");
}

@font-face {
  font-family: "BarlowSemiCondensedRegular";
  src: url("https://www.meetjennawright.com/fontFamily/BarlowSemiCondensed-Regular.ttf");
}

:root {
  --acc-purple: #6d429e;
  --acc-dark-pink: #ad0042;
}

body {
  margin: 0px;
  font-family: "BarlowSemiCondensedRegular", sans-serif;
  overflow-x: hidden;
}
.page-container {
  display: grid;
}
.page-width {
  justify-self: center;
  margin-top: 20px;
  text-align: center;
  word-wrap: break-word;
}

.navbar {
  align-items: center;
  background-color: #eeeeee;
  display: flex;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 3;

  .menu-toggle {
    display: none;
    visibility: hidden;
  }

  .navbar-links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px;
    width: 100%;
    gap: 10px;
  }

  .navbar-socials svg {
    width: 23px;
    padding: 0px 5px;
  }

  .navbar-nav {
    display: flex;
    gap: 10px;
  }

  .navbar-nav div {
    padding: 0px 10px;
    color: #334155;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
  }

  .navbar-nav div a {
    padding: 0px 10px;
    text-decoration: none;
    color: #334155;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
  }

  .navbar-nav div:hover {
    cursor: pointer;
    fill: var(--acc-purple);
    a {
      color: var(--acc-purple);
    }
  }

  .navbar-nav div svg {
    width: 10px;
    align-self: end;
  }

  .navbar-search {
    padding-left: 10px;
  }

  .navbar-search div svg {
    width: 20px;
    fill: var(--acc-dark-pink);

    :hover {
      cursor: pointer;
      fill: var(--acc-purple);
    }
  }
}

.paper-kawaii-logo {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  padding: 20px 0px;
  margin-top: 70px;
  /* position: relative; */
}
.paper-kawaii-logo img {
  width: auto;
  height: auto;
  max-width: 100px;
  max-height: 100px;
}
.paper-kawaii-logo p {
  color: #222;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.23em;
}

h1,
h2 {
  color: #1e293b;
  display: table;
  font-family: "BarlowSemiCondensed", sans-serif;
  font-weight: 600;
  line-height: normal;
  margin: 10px auto !important;
  word-wrap: break-word;
}
h1 a,
h2 a {
  color: var(--acc-dark-pink);
  text-decoration: none;
}
h1 a:hover,
h2 a:hover {
  color: var(--acc-purple);
}
h1 {
  border-bottom: 3px solid var(--acc-purple);
  font-size: 38px;
}
h2 {
  border-bottom: 2px solid var(--acc-purple);
  font-size: 32px;
}
a {
  text-decoration: none;
  font-weight: 600;
  color: #1e293b;
  font-size: 23px;
  cursor: pointer;
}
p {
  margin: 1em 0;
  font-size: 20px;
}

.origami-buttons {
  width: fit-content;
  background-color: var(--acc-dark-pink);
  border: 2pt solid var(--acc-dark-pink);
  border-radius: 10px;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
}
.origami-buttons:hover {
  background-color: var(--acc-purple);
  border-color: var(--acc-purple);
  cursor: pointer;
}

.from-the-author a {
  font-weight: 600;
  color: var(--acc-dark-pink);
}
.from-the-author a:hover {
  color: var(--acc-purple);
}
.visit-paper-shop {
  padding: 20px;
}
.misc-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.misc-links img {
  max-width: 220px;
  height: auto;
}

.sign-up-newsletter {
  padding-top: 20px;
}
.sign-up-newsletter div {
  width: 100%;
}
.sign-up-newsletter img {
  max-width: 300px;
  height: auto;
}
.sign-up-newsletter .sign-up-form {
  text-align: left;
  max-width: 799px;
}
.sign-up-newsletter .newsletter-input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  margin: 0 auto 0 0;
}
.sign-up-newsletter button {
  margin-top: 20px;
}
.links-printables {
  padding-bottom: 40px;
}
.page-constants {
  display: grid;
  justify-self: center;
  margin-top: 20px;
  text-align: center;
  word-wrap: break-word;
}

.footer {
  background-color: var(--acc-purple);
  padding: 10px;
  /* TODO Fix footer sizing */
  /* display: flex; */
  /* justify-content: center; */
  /* width: 100%; */
}
.footer .footer-nav {
  display: flex;
  justify-content: center;
  color: #fff;
  gap: 10px;
  font-weight: 400;
  font-size: 17px;
}
.footer .footer-nav div {
  padding: 10px 20px;
  border-radius: 10px;
}
.footer .footer-nav div:hover {
  background-color: var(--acc-dark-pink);
  cursor: pointer;
}
.footer .copyright {
  display: grid;
  justify-items: center;
  color: #fff;
  padding-bottom: 20px;
  padding-top: 10px;
}

@media (min-width: 923px) {
  .page-width {
    max-width: 768px;
  }
  .page-constants {
    max-width: 768px;
  }
}

@media (max-width: 922px) {
  .page-width {
    padding: 0 20px;
    max-width: 90vw;
  }
}

@media (max-width: 799px) {
  .navbar {
    flex-direction: column;
  }
  .navbar-links {
    flex-direction: column;
  }
  .paper-kawaii-logo {
    margin-top: 140px;
  }
  .links-printables {
    img {
      max-width: 150px;
    }
  }
  .footer {
    .footer-nav {
      display: grid;
      div {
        justify-self: center;
      }
    }

    .copyright {
      display: grid;
      padding-top: 10px;
      justify-items: center;
    }
  }
}

@media (min-width: 601px) {
  .sign-up-form {
    padding-right: 30px;
  }
  .sign-up-newsletter {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 600px) {
  .sign-up-newsletter {
    div {
      display: grid;
      justify-items: center;

      p {
        padding: 0 20px;
        text-align: center;
      }
    }
  }
  .links-printables {
    div {
      display: inline-grid;
    }
  }
}

@media (max-width: 500px) {
  .navbar {
    .menu-toggle {
      background: none;
      border: none;
      color: var(--acc-dark-pink);
      font-size: 1.5rem;
      padding: 20px 0;
      cursor: pointer;
      display: block;
      visibility: visible;
    }
    .navbar-links {
      display: flex;
    }
    .navbar-links.hidden {
      display: none;
    }
    .navbar-nav {
      flex-direction: column;
    }
    .navbar-search {
      display: none;
      visibility: hidden;
    }
  }
  .paper-kawaii-logo {
    margin-top: 80px;
  }
  .paper-kawaii-logo.shift-down {
    margin-top: 320px;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 18px;
  }
  a {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
  .navbar-socials {
    display: grid;
    grid-template-columns: 5px 1fr auto 1fr 5px;
    grid-template-rows: auto auto;
    grid-template-areas:
      ". item1 item2 item3 ."
      ". item4 . item5 .";
    gap: 10px;
    justify-content: center;
    max-width: 100%;
    a:nth-child(1) {
      grid-area: item1;
    }
    a:nth-child(2) {
      grid-area: item2;
    }
    a:nth-child(3) {
      grid-area: item3;
    }
    a:nth-child(4) {
      grid-area: item4;
      position: relative;
      z-index: 1;
      left: 20px;
    }
    a:nth-child(5) {
      grid-area: item5;
      position: relative;
      z-index: 1;
      left: -20px;
    }
  }
}
