@font-face {
  font-family: "BarlowSemiCondensed";
  src: url("https://jwright2021.github.io/workingPortfolio/fontFamily/BarlowSemiCondensed-SemiBold.ttf");
}

@font-face {
  font-family: "BarlowSemiCondensedRegular";
  src: url("https://jwright2021.github.io/workingPortfolio/fontFamily/BarlowSemiCondensed-Regular.ttf");
}

body {
  margin: 0px;
  font-family: "BarlowSemiCondensedRegular", sans-serif;
  overflow-x: hidden;
}
.page-container {
  display: grid;
}
.page-width {
  justify-self: center;
  margin-top: 20px;
  text-align: center;
  word-wrap: break-word;
}

.navbar {
  align-items: center;
  background-color: #eeeeee;
  display: flex;
  width: 100vw;
  position: fixed;
  top: 0;

  .menu-toggle {
    display: none;
    visibility: hidden;
  }

  .navbar-links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px;
    width: 100%;
    gap: 10px;
  }

  .navbar-socials svg {
    width: 23px;
    padding: 0px 5px;
  }

  .navbar-nav {
    display: flex;
    gap: 10px;
  }

  .navbar-nav div {
    padding: 0px 10px;
    color: #334155;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
  }

  .navbar-nav div a {
    padding: 0px 10px;
    text-decoration: none;
    color: #334155;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
  }

  .navbar-nav div:hover {
    cursor: pointer;
    fill: #bcb3fb;
    a {
      color: #bcb3fb;
    }
  }

  .navbar-nav div svg {
    width: 10px;
    align-self: end;
  }

  .navbar-search {
    padding-left: 10px;
  }

  .navbar-search div svg {
    width: 20px;
    fill: #ff7bac;

    :hover {
      cursor: pointer;
      fill: #bcb3fb;
    }
  }
}

.paper-kawaii-logo {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  padding: 20px 0px;
  margin-top: 70px;
  position: relative;

  img {
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
  }

  a {
    color: #222;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.23em;
  }
}

h1,
h2 {
  color: #1e293b;
  display: table;
  font-family: "BarlowSemiCondensed", sans-serif;
  font-weight: 600;
  line-height: normal;
  /* TODO: make this not reliant on !important */
  margin: 10px auto !important;
  word-wrap: break-word;
  a {
    color: #ff7bac;
    text-decoration: none;
  }
  a:hover {
    color: #bcb3fb;
  }
}
h1 {
  border-bottom: 3px solid #bcb3fb;
  font-size: 38px;
}
h2 {
  border-bottom: 2px solid #bcb3fb;
  font-size: 32px;
}
a {
  text-decoration: none;
  font-weight: 600;
  color: #1e293b;
  font-size: 23px;
  cursor: pointer;
}
p {
  margin: 1em 0;
  font-size: 20px;
}

.origami-buttons {
  width: fit-content;
  background-color: #ff7bac;
  border: 2pt solid #ff7bac;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
}
.origami-buttons:hover {
  background-color: #bcb3fb;
  border-color: #bcb3fb;
  cursor: pointer;
}

.from-the-author {
  a {
    font-weight: 600;
    color: #ff7bac;
  }
  a:hover {
    color: #bcb3fb;
  }
}
.visit-paper-shop {
  padding: 20px;
}
.misc-links {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 20px;
  grid-template-columns: 3;
  img {
    max-width: 220px;
    height: auto;
  }
}

.sign-up-newsletter {
  padding-top: 20px;

  div {
    width: 100%;
  }

  img {
    max-width: 300px;
    height: auto;
  }

  .sign-up-form {
    text-align: left;
    max-width: 799px;
  }

  .newsletter-input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin: 0 auto 0 0;
  }

  button {
    margin-top: 20px;
  }
}
.links-printables {
  padding-bottom: 40px;
}

.page-constants {
  display: grid;
  justify-self: center;
  margin-top: 20px;
  text-align: center;
  word-wrap: break-word;
}

.footer {
  background-color: #bcb3fb;
  padding: 10px;
  /* TODO Fix footer sizing */
  /* display: flex; */
  /* justify-content: center; */
  /* width: 100%; */

  .footer-nav {
    display: flex;
    justify-content: center;
    color: #fff;
    gap: 10px;
    font-weight: 400;
    font-size: 17px;

    div {
      padding: 10px 20px;
      border-radius: 10px;
    }
  }

  .footer-nav div:hover {
    background-color: #ff7bac;
    cursor: pointer;
  }

  .copyright {
    display: grid;
    justify-items: center;
    color: #000;
    padding-bottom: 20px;
    padding-top: 10px;
  }
}

@media (min-width: 923px) {
  .page-width {
    max-width: 768px;
  }
  .navbar {
    z-index: 2;
  }
  .page-constants {
    max-width: 768px;
  }
}

@media (max-width: 922px) {
  .page-width {
    padding: 0 20px;
    max-width: 90vw;
  }
}

@media (max-width: 799px) {
  .navbar {
    flex-direction: column;
  }
  .navbar-links {
    flex-direction: column;
  }
  .paper-kawaii-logo {
    margin-top: 140px;
  }
  .links-printables {
    img {
      max-width: 150px;
    }
  }
  .footer {
    .footer-nav {
      display: grid;
      div {
        justify-self: center;
      }
    }

    .copyright {
      display: grid;
      padding-top: 10px;
      justify-items: center;
    }
  }
}

@media (min-width: 601px) {
  .sign-up-form {
    padding-right: 30px;
  }
  .sign-up-newsletter {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 600px) {
  .sign-up-newsletter {
    div {
      display: grid;
      justify-items: center;

      p {
        padding: 0 20px;
        text-align: center;
      }
    }
  }
  .links-printables {
    div {
      display: inline-grid;
    }
  }
}

@media (max-width: 500px) {
  .navbar {
    .menu-toggle {
      background: none;
      border: none;
      color: #ff7bac;
      font-size: 1.5rem;
      padding: 20px 0;
      cursor: pointer;
      display: block;
      visibility: visible;
    }
    .navbar-links {
      display: flex;
    }
    .navbar-links.hidden {
      display: none;
    }
    .navbar-nav {
      flex-direction: column;
    }
    .navbar-search {
      display: none;
      visibility: hidden;
    }
  }
  .paper-kawaii-logo {
    margin-top: 80px;
  }
  .paper-kawaii-logo.shift-down {
    margin-top: 280px;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 18px;
  }
  a {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
  .navbar-socials {
    display: grid;
    grid-template-columns: 5px 1fr auto 1fr 5px;
    grid-template-rows: auto auto;
    grid-template-areas:
      ". item1 item2 item3 ."
      ". item4 . item5 .";
    gap: 10px;
    justify-content: center;
    max-width: 100%;
    a:nth-child(1) {
      grid-area: item1;
    }
    a:nth-child(2) {
      grid-area: item2;
    }
    a:nth-child(3) {
      grid-area: item3;
    }
    a:nth-child(4) {
      grid-area: item4;
      position: relative;
      z-index: 1;
      left: 20px;
    }
    a:nth-child(5) {
      grid-area: item5;
      position: relative;
      z-index: 1;
      left: -20px;
    }
  }
}
